NODE_ENV=production

# Discord
DISCORD_TOKEN=your_discord_bot_token_here
DISCORD_CLIENT_ID=your_discord_client_id_here
DISCORD_GUILD_ID=your_discord_guild_id_here
BOT_SECERT=change_me
API_URL=http://api:3000

# Database
DB_USER=saint_cochon
DB_PASSWORD=change_me

# Production only
DOMAIN=example.com
ACME_EMAIL=your_email@example.com